@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        Rasel
    </div>
    <div class="col-md-4">
        Ahmmed
    </div>
    <div class="col-md-4">
        Bappi
    </div>
</div>